.main{
    border: 2px solid green;
    width: 200px;
    margin: 0 auto;
}
.result{
    width: 95%;
    background-color: blue;
    color:orange;
}
.clearBtn{
    width: 100%;
    margin-top: 10%;
    background-color: orangered;
}
.btn{
    background-color: rgb(225, 0, 255);
    width: 45px;
}
.halfbtn{
    background-color: green;
    width: 150px;
    margin-top: 5px;
}